body{
  display: flex ;
  justify-content: center ;
  align-items: center ;
  background-color: rgb(208, 184, 168);
  color:rgb(197, 112, 93) ;
}

.App{
  background-color: rgb(208, 184, 168);
  
}

#root{
  background-color: rgb(208, 184, 168);
}


img{
  margin-left: 15px;
  border: black 2px solid;
  border-radius: 10px;
}

*{
  background-color: rgb(208, 184, 168);

}